# variables for <PROJECT_NAME>
# Mysql Data for WordPress installation

MYSQL_ROOT_USER=root
MYSQL_ROOT_PASSWORD=DjbPqX9VnX8IFQ
MYSQL_USER=udbPROJECT_NAME
MYSQL_PASSWORD=rpnmathGKxEw3Fj
MYSQL_DATABASE=dbPROJECT_NAME

# Own plugin and theme for WordPress installation.
PLUGIN_DIR=NAME-PLUGIN
THEME_DIR=NAME-THEME
